<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.librarymanagementsystem.domain.book.repository.BookRepository">
    <insert id="insertBook" parameterType="rmsoft.librarymanagementsystem.domain.book.entity.Book">
        INSERT INTO book
        (
        title,
        author,
        book_category,
        book_status,
        created_date,
        last_modified_date
        ) VALUES (
        #{book.title},
        #{book.author},
        #{book.bookCategory},
        #{book.bookStatus},
        DATE_FORMAT(NOW(), '%Y/%m/%d %H:%i:%s'),
        DATE_FORMAT(NOW(), '%Y/%m/%d %H:%i:%s')
        )
    </insert>
    
    <select id="selectBookById" resultType="rmsoft.librarymanagementsystem.domain.book.dto.GetBookResponseDto">
        SELECT
        book_id AS bookId,
        title,
        author,
        book_category AS bookCategory,
        book_status AS bookStatus,
        created_date AS createdDate,
        last_modified_date AS lastModifiedDate
        FROM book
        WHERE book_id = #{bookId}
    </select>

    <update id="updateBook" parameterType = "java.util.Map">
        UPDATE book
        SET
        title = #{book.title},
        author = #{book.author},
        book_category = #{book.bookCategory},
        last_modified_date = DATE_FORMAT(NOW(), '%Y/%m/%d %H:%i:%s')
        WHERE book_id = #{bookId}
    </update>

    <select id="selectBookList" resultType="rmsoft.librarymanagementsystem.domain.book.dto.GetBookResponseDto">
        SELECT
        book_id AS bookId,
        title,
        author,
        book_category AS bookCategory,
        book_status AS bookStatus,
        created_date AS createdDate,
        last_modified_date AS lastModifiedDate
        FROM book
        <where>
                <if test="searchTitle != null">
                    and title like concat('%', #{searchTitle}, '%')
                </if>
                <if test="searchAuthor != null">
                    and author like concat('%', #{searchAuthor}, '%')
                </if>
                <if test="searchCategory != null">
                    and book_category like concat('%', #{searchCategory}, '%')
                </if>
                <if test="bookStatus != null">
                    and book_status = #{bookStatus}
                </if>
        </where>
        ORDER BY title ASC
        LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <select id="selectBookTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM book
        <where>
            <if test="searchTitle != null">
                and title like concat('%', #{searchTitle}, '%')
            </if>
            <if test="searchAuthor != null">
                and author like concat('%', #{searchAuthor}, '%')
            </if>
            <if test="searchCategory != null">
                and book_category like concat('%', #{searchCategory}, '%')
            </if>
            <if test="bookStatus != null">
                and book_status = #{bookStatus}
            </if>
        </where>
    </select>
    
    <delete id="deleteBook">
        DELETE
        FROM book
        WHERE book_id = #{bookId}
    </delete>


    <update id="updateRentalBookStatus" parameterType="java.lang.Long">
        UPDATE
        book SET
        book_status = false
        WHERE book_id = #{bookId}
    </update>

    <update id="updateReturnBookStatus" parameterType="java.lang.Long">
        UPDATE
        book SET
        book_status = true
        WHERE book_id = #{bookId}
    </update>
</mapper>