<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.librarymanagementsystem.domain.member.repository.MemberRepository">
    <insert id="insertMember" parameterType="rmsoft.librarymanagementsystem.domain.member.entity.Member">
        INSERT INTO MEMBER
        (
        name,
        phone_number,
        email
        ) VALUES (
        #{member.name},
        #{member.phoneNumber},
        #{member.email}
        )
<!--        <selectKey resultType="Long" keyProperty="member_id" order="AFTER">-->
<!--&lt;!&ndash;            SELECT LAST_INSERT_ID()&ndash;&gt;-->
<!--            CALL SCOPE_IDENTITY()-->
<!--        </selectKey>-->
    </insert>

</mapper>